@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  /*--background: oklch(0.86 0 0);*/
  --background-darker: oklch(28.5% 0 0);
  --background: oklch(96.7% 0.003 264.542);
  --background-dark: oklch(32.11% 0 0);
  --background-surface: #18181b;
  --bg-dark: #0f0f11;
  --text-primary: oklch(0.9846 0.0017 247.84);
  --text-secondary: oklch(98.46% 0.0017 247.84 / 0.75);
  --text-black: oklch(25.2% 0 0);
  --orange-primary: oklch(67.66% 0.1838 40.03);
  --orange-secondary: oklch(67.66% 0.1838 40.03 / 0.15);
  --overlay: oklch(0.22 0 0 / 0.7);
  --border-color: oklch(83.9% 0 0);

  /* Font sizes */
  --font-small: clamp(0.8125rem, 0.78rem + 0.15vw, 0.875rem);
  --font-body: clamp(0.9375rem, 0.9rem + 0.2vw, 1rem);
  --font-lead: clamp(1.325rem, 0.95rem + 0.9vw, 1.5rem);
  --font-heading: clamp(2rem, 1.35rem + 2.5vw, 2.9375rem);
  --font-heading-2: clamp(1.825rem, 1.25rem + 1.9vw, 2.5rem);

  /* Line heights */
  --lh-small: 1.5;
  --lh-body: 1.75;
  --lh-heading: 1.25;
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-darker: var(--background-darker);
  --color-background-surface: var(--background-surface);
  --color-background-bg: var(--bg-dark);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-black: var(--text-black);
  --color-accent-primary: var(--orange-primary);
  --color-accent-secondary: var(--orange-secondary);
  --color-overlay: var(--overlay);
  --color-border: var(--border-color);

  /* Line heights */
  --leading-small: var(--lh-small);
  --leading-body: var(--lh-body);
  --leading-heading: var(--lh-heading);

  /* Font sizes */
  --text-small: var(--font-small);
  --text-body: var(--font-body);
  --text-lead: var(--font-lead);
  --text-heading: var(--font-heading);
  --text-heading-2: var(--font-heading-2);

  /* Fonts */
  --font-inter: "Inter", system-ui, sans-serif;
  --font-sora: "Sora", system-ui, sans-serif;
}

html,
body {
  overflow-x: hidden;
  font-family: "Inter";
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

main > section {
  padding-block: 10rem;
}

.container {
  margin-inline: auto;
  width: 100%;
  max-width: 1280px;
  padding-inline: 1rem;
}

.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgb(164 164 164 / 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(164 164 164 / 0.08) 1px, transparent 1px);
  background-size: 60px 60px;
}

.bg-grid-pattern-dark {
  background-image:
    linear-gradient(to right, rgb(64 64 64 / 0.9) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(64 64 64 / 0.9) 1px, transparent 1px);
  background-size: 60px 60px;
}

.mask-image-gradient {
  -webkit-mask-image: linear-gradient(to left, transparent, black 30%, black);
  mask-image: linear-gradient(to left, transparent, black 30%, black);
}
