---
const { class: classname = "", dark = false } = Astro.props;
const fillColor = dark ? "var(--color-neutral-800)" : "var(--color-neutral-50)";
---

<a href="/" aria-label="Revimont Klatovy – přejít na úvod">
  <svg
    viewBox="0 0 218 37"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    class={`transition-all duration-300 ${classname}`}
  >
    <g clip-path="url(#clip0_149_1797)">
      <path
        d="M24.8209 31.7544C24.803 31.6206 24.7418 31.4875 24.6946 31.3607C23.546 28.2706 22.3056 24.679 20.3866 21.9976C18.9357 19.9703 17.7571 19.7586 15.3254 19.6878L10.3294 19.687L7.75939 31.7544H24.8209ZM10.9697 16.4198L19.6355 16.4214C22.2584 16.3827 25.0939 16.067 26.9321 13.9988C28.4102 12.3358 28.9412 9.41688 27.4953 7.57976C26.5881 6.42711 25.28 6.3781 23.9157 6.28492L13.0814 6.28768L10.9697 16.4198ZM29.3142 31.7494C30.5013 31.7016 31.9584 31.9388 32.7522 30.8429C33.3494 30.0186 33.1379 29.0056 33.2343 28.0559C33.1424 21.6113 33.3657 15.1486 33.2019 8.70945C33.1751 7.65671 33.3262 6.57924 32.4459 5.80999C31.9884 5.41003 31.2926 5.23218 30.691 5.27578C30.6467 5.27898 30.605 5.25271 30.6174 5.31994C31.5246 6.36142 31.9884 7.76048 32.1329 9.12444C32.6613 14.1142 29.9926 17.4549 25.3559 18.8419C24.2582 19.1702 23.2506 19.2733 22.1606 19.5106C22.1203 19.5193 22.0856 19.5066 22.0572 19.5553C22.9656 20.2266 23.8081 20.9725 24.4886 21.8786C24.9963 22.5545 25.4881 23.3466 25.9148 24.0782C27.3322 26.508 28.2309 29.1628 29.3142 31.7494ZM9.2754 5.24609L6.43542 5.24487C4.54706 5.32071 3.82201 6.00219 3.74522 7.90433C3.78953 15.223 3.66296 22.5508 3.80968 29.8637L3.98482 30.4763L9.2754 5.24609ZM6.23732 1.51037L30.6037 1.50021C30.6846 1.49569 30.7592 1.52858 30.8389 1.53256C32.9545 1.63677 34.7051 2.31328 35.9148 4.1249C37.0031 5.75457 36.9133 7.19194 36.9471 9.06604C37.069 15.8235 36.9417 22.6055 36.9495 29.3634C36.9269 31.9461 35.4669 34.2458 33.0024 35.105C32.0625 35.4326 31.1118 35.4553 30.1281 35.5002L6.82187 35.5001C6.31114 35.4501 5.79402 35.4677 5.28122 35.4059C2.08059 35.0201 -0.0069455 32.4271 0.00172559 29.2429L0 7.84494C0.133992 3.97266 2.34857 1.66989 6.23732 1.51037Z"
        fill={fillColor}></path>
    </g>
    <path
      d="M51.125 30H46.4062L51.2031 7.09375H61.375C63.125 7.09375 64.4844 7.27604 65.4531 7.64062C66.4323 7.99479 67.2188 8.65104 67.8125 9.60938C68.4167 10.5677 68.7188 11.7292 68.7188 13.0938C68.7188 15.0417 68.1354 16.651 66.9688 17.9219C65.8021 19.1823 64.0365 19.9635 61.6719 20.2656C62.276 20.8073 62.8438 21.5208 63.375 22.4062C64.4271 24.1979 65.599 26.7292 66.8906 30H61.8281C61.4219 28.7083 60.625 26.6927 59.4375 23.9531C58.7917 22.474 58.1042 21.4792 57.375 20.9688C56.9271 20.6667 56.1458 20.5156 55.0312 20.5156H53.1094L51.125 30ZM53.8281 17.0781H56.3281C58.8594 17.0781 60.5365 16.9271 61.3594 16.625C62.1927 16.3229 62.8438 15.849 63.3125 15.2031C63.7812 14.5573 64.0156 13.8802 64.0156 13.1719C64.0156 12.3385 63.6771 11.7135 63 11.2969C62.5833 11.0469 61.6823 10.9219 60.2969 10.9219H55.1094L53.8281 17.0781ZM69.4375 30L74.2188 7.09375H91.2031L90.4062 10.9219H78.1406L77.0469 16.125H88.9062L88.1094 19.9531H76.25L74.8125 26.1719H88.1406L87.3281 30H69.4375ZM102.234 30H97.2031L93.0938 7.09375H97.7969L100.703 24.4219L110.188 7.09375H114.859L102.234 30ZM111.922 30L116.719 7.09375H121.422L116.641 30H111.922ZM134.203 30H129.734L128.906 10.8594L125.266 30H121.016L125.797 7.09375H132.516L133.219 23.1406L141.031 7.09375H147.828L143.031 30H138.734L143.25 11L134.203 30ZM149.172 21.0156C149.172 19.6615 149.375 18.2344 149.781 16.7344C150.312 14.724 151.12 12.9792 152.203 11.5C153.297 10.0208 154.672 8.85417 156.328 8C157.984 7.13542 159.87 6.70312 161.984 6.70312C164.818 6.70312 167.104 7.58333 168.844 9.34375C170.594 11.1042 171.469 13.4375 171.469 16.3438C171.469 18.7604 170.901 21.099 169.766 23.3594C168.63 25.6198 167.089 27.3594 165.141 28.5781C163.193 29.7969 160.99 30.4062 158.531 30.4062C156.396 30.4062 154.604 29.9219 153.156 28.9531C151.708 27.9844 150.682 26.7865 150.078 25.3594C149.474 23.9219 149.172 22.474 149.172 21.0156ZM153.828 20.9219C153.828 22.4948 154.307 23.8125 155.266 24.875C156.224 25.9375 157.484 26.4688 159.047 26.4688C160.318 26.4688 161.536 26.0521 162.703 25.2188C163.88 24.375 164.849 23.1042 165.609 21.4062C166.38 19.6979 166.766 18.0365 166.766 16.4219C166.766 14.6198 166.281 13.2083 165.312 12.1875C164.344 11.1562 163.109 10.6406 161.609 10.6406C159.307 10.6406 157.432 11.7135 155.984 13.8594C154.547 16.0052 153.828 18.3594 153.828 20.9219ZM190.906 30H186.516L180.328 14.6094L177.109 30H172.719L177.5 7.09375H181.906L188.109 22.4219L191.312 7.09375H195.688L190.906 30ZM205.688 30H200.969L204.969 10.9219H198.25L199.047 7.09375H217.094L216.297 10.9219H209.672L205.688 30Z"
      fill={fillColor}></path>
    <defs>
      <clipPath id="clip0_149_1797">
        <rect
          width="37"
          height="34.0004"
          fill="white"
          transform="translate(0 1.49979)"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
