---
import Button from "../ui/Button.astro";
import LetsWorkImage from "../../assets/images/lets_work.png";
---

<section id="lets-work" class="flex items-center py-24 bg-background-dark">
  <div class="container grid gap-10 lg:grid-cols-[1.1fr_0.9fr] items-center">
    <div class="text-primary text-center flex flex-col items-center lg:text-left">
      <h2 class="font-playfair font-bold text-heading-2 mb-4">
        Pojďme se spojit a pracovat společně
      </h2>
      <p class="text-secondary mb-8 max-w-102">
        Revize, nová elektroinstalace či oprava, jsme připraveni vám pomoci. Dejte nám vědět a
        společně najdeme nejlepší řešení pro váš domov či firmu.
      </p>
      <Button variant="primary" href="/kontakt" class="w-full md:w-fit">Kontaktujte nás</Button>
    </div>

    <div class="hidden lg:block lg:justify-self-end">
      <figure class="overflow-hidden rounded-2xl shadow-2xl shadow-black/40">
        <img
          src={LetsWorkImage.src}
          alt="Projektová dokumentace elektroinstalace"
          loading="lazy"
          class="w-full max-w-sm h-auto"
        />
      </figure>
    </div>
  </div>
</section>
