---
const titleHtml = `Profesionální <span class=\"text-accent-primary\">revize</span> a <br /><span class=\"text-accent-primary\">elektroinstalace</span> pro domy i firmy`;
const description =
  "Provádíme elektroinstalace, revize, montáže a opravy elektrozařízení v Klatovech a okolí. Máme za sebou roky praxe, a tak víme, že nejdůležitější je kvalitní, bezpečná a poctivě odvedená práce";
const bullets = [
  "15 let zkušeností v oboru",
  "Kompletní služby pro byty, domy i firmy",
  "Certifikovaní technici s platným oprávněním",
];

import BaseLayout from "../layouts/BaseLayout.astro";

import HeroIllustration from "../assets/images/hero_illustration.svg";

import PageHero from "../components/sections/shared/PageHero.astro";
import Services from "../components/sections/home/Services.astro";
import WhoWeWorkFor from "../components/sections/services/WhoWeWorkFor.astro";
import PortfolioShowcase from "../components/sections/services/PortfolioShowcase.astro";
import ContactSection from "../components/sections/shared/ContactSection.astro";
---

<BaseLayout heroBackground="/hero-bg.jpg">
  <PageHero
    id="hero"
    slot="hero"
    titleHtml={titleHtml}
    description={description}
    bullets={bullets}
    stats={[
      { number: "300+", label: "zakázek" },
      { number: "15+", label: "let zkušeností" },
      { number: "500+", label: "zakázek" },
    ]}
    primaryCta={{ label: "Nezávazná poptávka", href: "/kontakt" }}
    secondaryCta={{ label: "+420 775 736 112", href: "tel:+420775736112" }}
    image={{ src: HeroIllustration.src, alt: "Ilustrace" }}
  />

  <Services />
  <WhoWeWorkFor />
  <PortfolioShowcase />
  <ContactSection />
</BaseLayout>
