---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import OurWork from "../components/sections/OurWork.astro";
import LetsWork from "../components/sections/LetsWork.astro";
---

<BaseLayout>
  <Hero />
  <Services />
  <WhyUs />
  <OurWork />
  <LetsWork />
  <section id="contact-form"></section>
</BaseLayout>
