---
import Badge from "../assets/icons/badge-check.svg";
import HeroIllustration from "../assets/images/hero_illustration.svg";
import Button from "../components/ui/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import Services from "../components/sections/Services.astro";
---

<BaseLayout>
  <section slot="hero" id="hero" class="flex items-center py-24">
    <div class="container flex flex-col">
      <div class="content text-primary">
        <h1 class="font-playfair font-bold text-heading mb-8">
          Profesionální
          <span class="text-accent-primary">revize</span> a <span class="text-accent-primary"
            >elektroinstalace</span
          >
          pro domy i firmy
        </h1>
        <p class="mb-8">
          Provádíme elektroinstalace, revize, montáže a opravy elektrozařízení v Klatovech a okolí.
          Máme za sebou roky praxe, a tak víme, že nejdůležitější je kvalitní, bezpečná a poctivě
          odvedená práce
        </p>
        <ul class="mb-16">
          <li class="flex gap-2 py-1">
            <img src={Badge.src} alt="Ikona" class="w-6 h-6" />
            15 let zkušeností v oboru
          </li>
          <li class="flex gap-2 py-1">
            <img src={Badge.src} alt="Ikona" class="w-6 h-6" />
            Kompletní služby pro byty, domy i firmy
          </li>
          <li class="flex gap-2 py-1">
            <img src={Badge.src} alt="Ikona" class="w-6 h-6" />
            Certifikovaní technici s platným oprávněním
          </li>
        </ul>
        <div class="flex flex-col gap-4">
          <Button>Nezávazná poptávka</Button>
          <!-- <Button variant="secondary">+420 775 736 112</Button> -->
        </div>
      </div>
      <img src={HeroIllustration.src} alt="Ilustrace" class="hidden" />
    </div>
  </section>
  <Services />
  <section id="why-revimont"></section>
  <section id="our-work"></section>
  <section id="faq"></section>
  <section id="lets-work"></section>
  <section id="contact-form"></section>
</BaseLayout>
