---
import SectionWrapper from "../../ui/SectionWrapper.astro";
import SectionHeader from "../../ui/SectionHeader.astro";

import Clock from "../../../assets/icons/clock.svg";
import Star from "../../../assets/icons/star.svg";
import Users from "../../../assets/icons/users.svg";

import FirmaImage from "../../../assets/images/firma.jpeg";

const features = [
  {
    icon: Clock,
    title: "Dodržení termínu",
    description:
      "Na čem se domluvíme, to platí. Práce plánujeme tak, aby probíhaly plynule a bez zbytečných zdržení.",
  },
  {
    icon: Users,
    title: "Osobní přístup",
    description:
      "Každou zakázku řešíme individuálně podle konkrétní situace a potřeb zákazníka. Důležitá je pro nás domluva a jasné řešení.",
  },
  {
    icon: Star,
    title: "Certifikace a oprávnění",
    description:
      "Máme všechna potřebná oprávnění pro elektroinstalační práce a pravidelně se školíme v novinkách.",
  },
];
---

<SectionWrapper background="dark">
  <div class="grid lg:grid-cols-2 gap-20 items-center">
    <div class="text-primary">
      <SectionHeader
        eyebrow="O společnosti"
        title="Spolehlivost a kvalita na prvním místě"
        description=" V oboru elektroinstalací není prostor pro chyby. Zakládáme si na precizním provedení, používání kvalitních materiálů a neustálém vzdělávání našeho týmu."
        width="narrow"
        background="dark"
        class="mb-0"
      />

      <div class="space-y-6">
        {
          features.map((feature) => (
            <div class="flex items-start gap-4">
              <div class="shrink-0 w-12 h-12 rounded-lg bg-background/10 border border-white/5 flex items-center justify-center text-accent-primary">
                <feature.icon class="w-6 h-6" />
              </div>
              <div>
                <h3 class="text-primary font-semibold text-lg mb-2">{feature.title}</h3>
                <p class="text-secondary/80 leading-relaxed text-sm">{feature.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="relative">
      <!-- Oranžový obdélník za obrázkem -->
      <div class="absolute inset-0 translate-x-4 translate-y-4 bg-accent-primary/30 rounded-lg">
      </div>

      <div class="relative rounded-lg overflow-hidden shadow-2xl">
        <img
          src={FirmaImage.src}
          alt="Elektrikář při práci"
          class="w-full max-h-100 object-cover"
        />
      </div>
    </div>
  </div>
</SectionWrapper>
