---
import Button from "../../ui/Button.astro";
import LetsWorkImage from "../../../assets/images/firma.jpeg";
---

<section id="lets-work" class="flex items-center bg-background-dark">
  <div class="container grid gap-10 lg:grid-cols-2 items-center">
    <div class="text-primary text-center flex flex-col items-center lg:text-left lg:items-start">
      <h2 class="font-playfair font-bold text-heading-2 mb-4">
        Pojďme se spojit a<br /> pracovat společně
      </h2>
      <p class="text-secondary mb-8 max-w-102">
        Revize, nová elektroinstalace či oprava, jsme připraveni vám pomoci. Dejte nám vědět a
        společně najdeme nejlepší řešení pro váš domov či firmu.
      </p>
      <Button variant="primary" href="/kontakt" class="w-full md:w-fit">Kontaktujte nás</Button>
    </div>

    <div class="block lg:block lg:justify-self-end">
      <figure class="overflow-hidden rounded-lg shadow-2xl shadow-black/40">
        <img
          src={LetsWorkImage.src}
          alt="Fotografie našeho vozového parku, v pozadí sídlo naší firmy."
          loading="lazy"
          class="w-full h-auto bg-cover"
        />
      </figure>
    </div>
  </div>
</section>
