---
interface Props {
  id?: string;
  background?: "light" | "dark";
  withGrid?: boolean;
  class?: string;
}

const {
  id,
  background = "light",
  withGrid = false,
  class: className = "",
} = Astro.props;
---

<section
  id={id}
  data-animate-section
  class:list={[
    "relative overflow-hidden py-10",
    background === "dark" ? "bg-neutral-800" : "bg-background",
    className,
  ]}
>
  {withGrid && <div class="bg-grid-pattern absolute inset-0" />}

  <div class="relative z-10 container">
    <slot />
  </div>
</section>
